.btnGroups {
	padding-top: 12px;
	padding-bottom: 6px;
}
.dropdown-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.businessCategoryTab{
	padding-top: 30px;
}

textarea {
   resize: none;
}

#overViewOne {
	max-height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 0.7em;
}

::-webkit-scrollbar-thumb {
	background: #337ab7;
} 

[hidden] {
  display: none !important;
}

@media (min-width: 992px) {
	.col-md-2 {
		padding-bottom: 2%;
	}
	.col-md-3 {
		padding-bottom: 2%;
	}
	.col-md-6 {
		padding-bottom: 2%;
	}
	.col-md-12 {
		padding-bottom: 2%;
	}
	.col-md-4 {
		padding-bottom: 2%;
	}
}